@font-face {
    font-family: glacial-indifference;
    src: url('../fonts/glacial-indifference.bold.otf'), url('../fonts/glacial-indifference.regular.otf');
}

@font-face {
    font-family: HomemadeApple-Regular;
    src: url('../fonts/HomemadeApple-Regular.ttf');
}

/* VARIABLES */
$base-color: #FF5757;
$secondary-color: #545454;

.mt-5{
    margin-top: 5rem;
}

.mb-5{
    margin-bottom: 5rem;
}

.ml-2 {
    margin-left: 2rem !important;
}

.mr-2 {
    margin-right: 2rem !important;
}

.mt-3{
    margin-top: 3rem !important;
}


/* BASE */
*,::before,::after{
    box-sizing: border-box;
}

.no-gutters{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

.nav__list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__item{
    font-family: glacial-indifference;
    color: $secondary-color;
    font-size: 18px;
  }

a{
   text-decoration: none;
}



.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px #54545481;
}

/* LAYOUT */
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

/* NAVBAR */
.nav{
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    z-index: 8888;
}

.nav__logo{
     width: 188.51px !important;
     height: 75px !important;
}

.nav__button{
    align-items: center;
    width: 160px;
    height: 36px;
    border-radius: 4px;
    background-color: $base-color;
    color: #FFFFFF;
    padding: 6px 12px 6px 12px;
    font-family: glacial-indifference;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin: 0px 4px;
    &:hover{
        background-color: #FFFFFF;
        color: $base-color;
        border: 0.7px solid $base-color;
        transition: 0.3s ease all;
    }
}


@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: 3rem;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: $base-color;
        color: $secondary-color;
        transition: .5s;
    }
}

.nav__item{
margin-bottom: 2rem;
}

.nav__link{
    position: relative;
    color: #fff;
    font-family: Glacial Indifference;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    &:hover{
        position: relative;
    transition: .2s ease all;
    color: $secondary-color;
    }
}

.nav__link:hover::after{
position: absolute;
content: "";
width: 100%;
height: 0.01rem;
left: 0;
top: 1.2rem;
background-color: $secondary-color;
}

.nav__toggle{
    color: $secondary-color;
    font-size: 1.5rem;
    cursor: pointer;
}

/* ACTIVE MENU */
 .nav__active::after{
     position: absolute;
     content: "";
     width: 100%;
     height: 0.01rem;
     left: 0;
     top: 1.2rem;
     background-color: $secondary-color;
   }

/* SHOW MENU */
.show{
     right: 0; 
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
    body{
      margin: 0;
    }
    .section{
      padding-top: 4rem;
      padding-bottom: 3rem;
    }
    .nav-header{
      height: calc( 3rem + 1rem);
    }
    .nav__list{
      display: flex;
      padding-top: 0;
    }
    .nav__item{
      margin-left: 3rem;
      margin-bottom: 0;
    }
    .nav__toggle{
      display: none;
    }
    .nav__link{
      color: $secondary-color;
    }
   
  }  

  @media screen and (max-width: 999px){
    .nav__logo{
        width: 150px;
        height: 55px;
    }
    .nav__button{
        display: none;
    }
  }

  @media screen and (max-width: 768px){
  
    .nav__logo{
        width: 150px;
        height: 55px;
    }

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .nav__toggle i{
        font-size: 2.5rem;
    }

    .nav__button{
        display: block;
    }
  }

  @media screen and (max-width: 576px){
    .nav__button{
        display: none;
    }

    .nav__logo{
        width: 150px;
        height: 55px;
    }

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .nav__toggle i{
        font-size: 2.5rem;
    }
  }

//CARROUSEL
.carousel-container{
    margin-top: 8%;
}

.carousel-inner{
    img{
        width: 100%;
        height: 100%;
    }
}
.carousel .item {
    height: 100px !important;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100px;
  }

.carousel-item .img-fluid {
    width:100%;
    height: 100vh;
  }

.carousel-caption{
    bottom: 200px;
}

.carousel-caption h5{
    font-family: Glacial Indifference;
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    color: #FFFFFF;
    text-shadow: 0px 4px 30px #000000;   
}

.carousel__button-home{
    text-align: center;
    border: none;
    color: $secondary-color;
    font-family: Glacial Indifference;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    padding: 6px 12px;
    background: #FFFFFF;
    border-radius: 4px;
    &:hover{
        background: $secondary-color;
        color: #FFFFFF;
        transition: 0.3s ease all;
    }
}

.carousel-control-prev-icon {
    background-image: url("../images/control-prev-icon.svg");
    margin-left: -7rem !important;
}

.carousel-control-next-icon {
    background-image: url("../images/control-next-icon.svg");
    margin-right: -7rem !important;
}

.carousel-indicators li {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50% !important;
  }

  .carousel-indicators .active{
    background-color: $base-color;
}

.carousel-container .media-icons{
    position: absolute;
    z-index: 50;
      position: fixed;
     right: 100px;
    left: 94% !important;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    top: 75%;
}

.fixed{
    position: fixed !important;
}

.media__icons-footer{
    top: 35% !important;
    //position: fixed !important;
}

.media-icons i{
    color: #FFFFFF;
    font-size: 2rem;
    background-color: $base-color;
    border-radius: 50%;
    border: none;
    padding: 16px;
    &:hover{
        transform: scale(1.1);
        transition: 0.3s ease all;
    }
  }

.carousel-container .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.carousel-container .media-icons a:hover{
    transition: scale(1.3);
}
@media screen and (max-width: 900px){
    .carousel-container{
        margin-top: 15%;
    }
    .carousel__nosotros-title{
        font-size: 45px !important;
        align-items: center;
        margin-top: -40% !important;
        left: -18% !important;
    }
}

@media screen and (max-width: 576px){
    .carousel-container{
        margin-top: 20%;
    }
    .carousel__nosotros-title{
        font-size: 25px !important;
        align-items: center;
        margin-top: -25% !important;
        left: -18% !important;
    }
}

@media screen and (max-width: 468px){
    .carousel-container{
        margin-top: 27%;
    }
    .carousel__nosotros-title{
        font-size: 19px !important;
        align-items: center;
        margin-top: -20% !important;
        left: -18% !important;
    }
}

//CAROUSEL NOSOTROS
.carousel__nosotros-title{
    font-family: Glacial Indifference;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: -40%;
    left: -15%;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    display: flex;
    align-items: center;
    text-align: center;
}



//CARDS

    //CARDS HOME
    .card__home-container{
    align-items: center;  
    margin-top: 3rem;  
    display: flex;
    justify-content: space-evenly;
    padding-left: 1rem;
    padding-right: 1rem;
    }


    .card__home{
        border: none;
        align-items: center;
       
    }

    .card__home-img{
        width: 400px;
        height: 500px;
        object-fit: cover;
        margin: 0.5rem;
        &:hover{
           background-color: rgba(0, 0, 0, 0.835);
           filter:brightness(0.7);
           transition: 0.3s all;
        }
    }

    .card__home-title{
        position: absolute;
        text-transform: uppercase;
        font-family: Glacial Indifference;
        font-weight: bold;
        font-size: 36px;
        line-height: 75px;
        color: #FFFFFF;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        z-index: 3;
        cursor: pointer;
    }

    @media screen and (max-width: 1024px){
        .card__home-img{
            width: 300px;
            height: 400px;
            &:hover{
                background-color: rgba(0, 0, 0, 0.835);
                filter:brightness(0.7);
                transition: 0.3s all;
             }
        }
        .card__home-title{
            font-size: 26px;
        }
    }

    @media screen and (max-width: 768px){
         .card__home-container{
             display: flex;
             flex-direction: column;
             justify-content: center;
         }
    }

    //CARDS NOSOTROS
    .card__nosotros-container{
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .card__nosotros-img1{
        border: none;
        width: 313px;
        height: 486px;
        margin-right: 2rem;
    }

    .card__nosotros-img2{
        border: none;
        width: 313px;
        height: 486px;
        margin-top: 7rem;
    }

    //CARDS PRODUCTOS
    .card__productos-container{
        align-items: center;   
        display: flex;
        justify-content: center;
        }

        .card__productos{
            border: none;
            align-items: center;
            position:relative;
        }

        .card__productos-img{
            width: 330px;
            height: 650px;
            object-fit: cover;
            margin: 0.5rem;
            &:hover{
               background-color: rgba(0, 0, 0, 0.835);
               filter:brightness(0.7);
               transition: 0.3s all;
            }
        }

     
        .card__productos-button{
            font-family: Glacial Indifference;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            border: none;
            color: $secondary-color;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 6px 12px;
            background: #F3EFEE;
            border-radius: 4px;
            position: absolute;
            top: 85%;
            display: none;
            z-index: 2;
            &:hover{
                background: $secondary-color;
                color: #F3EFEE;
                transition: 0.3s ease all;
            }
        }

        .card__productos:hover .card__productos-button{
            display:block;
        }

        .card__productos-title{
            position: absolute;
            text-transform: uppercase;
            font-family: Glacial Indifference;
            font-weight: bold;
            font-size: 36px;
            line-height: 75px;
            color: #FFFFFF;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            z-index: 1;
            margin-top: 6rem !important;
            cursor: pointer;
        }

        

//SECCION NOSOTROS
.nosotros__info{
    margin-left: 7rem;
    p{
        color: $secondary-color;
        // font-family: glacial-indifference;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        display: flex;
        align-items: center;
        letter-spacing: 1px;
    }
}
.nosotros-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotros__info-title{
    color: $base-color;
    font-family: glacial-indifference;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

@media screen and (max-width: 900px){
    .nosotros-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nosotros__info{
        margin: 16px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .card__nosotros-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card__nosotros-img1{
        margin-right: 0px !important;
    }

    .card__nosotros-img2{
        margin-top: 0px !important;
    }
}

//SECCION PRODUCTOS
.productos-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 7rem !important;
}

.productos__title{
    h1{
        font-family: Glacial Indifference;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 50px;
        color: $base-color;
        margin-top: 8% !important;
        margin-right: 2rem;
    }
}

.productos-container .media-icons{
    z-index: 999;
    position: fixed;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    top: 70%;
}

.productos-container .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.productos-container .media-icons a:hover{
    transition: scale(1.3);
}

@media screen and (max-width: 768px){
    .productos-container {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 0 auto !important;
    }
    .card__productos-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



//FOOTER
.footer-container{
    margin-top: 2rem;
}

.footer__top{
    border-top: 3px solid $base-color;
    background-color: #FFFFFF;
    padding: 2rem 3rem 2rem 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}

.footer__top-cart{
    display: flex;
    align-items: flex-start;
    img{
        margin-right: 1rem;
    }
    p{
        color: $secondary-color;
        line-height: 21px;
        font-family: Glacial Indifference;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
    }
}

.footer__top-orders{
    display: flex;
    align-items: flex-start;
    img{
        margin-right: 1rem;
        width: 47.5px;
        height: 65px;
    }
    p{
        color: $secondary-color;
        line-height: 21px;
        font-family: Glacial Indifference;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
    }
}

.footer__top-social-icons {
    display: flex;
    align-items: center;
    i{
        display: inline-block;
        border-radius: 10px;
        background-color: $secondary-color;
        color: #FFFFFF;
        font-size: 2rem;
        border: none;
        padding: 15px;
        margin: 3px 5px 3px 3px;
    }
}

.footer__top-social-icons {
    span{
        display: inline-block;
        border-radius: 10px;
        background-color: $secondary-color;
        color: #FFFFFF;
        font-size: 2.5rem;
        border: none;
        padding: 11px;
        margin-left: 3px;
    }
}

.fab.fa-tiktok {
    background: url('../images/tiktok.svg') no-repeat;
    width: 22px;
    height: 25px;
    
}

.footer__bottom{
    background-color: $base-color;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.footer__bottom-links{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    
    a{
        text-decoration: none;
        color: #FFFFFF;
        font-family: glacial-indifference;
        font-size: 14px;
    }
    i{
        color: #FFFFFF;
        font-size: 1.5rem;
    }
   img{
       width: 186px;
       height: 84px;
   }
}

.footer__bottom-links-social{
    display: flex;
    align-items: center;
}

.footer__bottom-copyright{
    p{
        text-align: center;
        color: #FFFFFF;
        font-family: glacial-indifference;
        font-size: 16px;
        line-height: 30px;
    }
}

@media screen and (max-width: 768px){
    .footer__top{
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .footer__top-orders{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }
    }
    .footer__top-cart{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        img{
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            width: 77.29px;
            height: 65px;
        }
   
    }

    .footer__bottom-links{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        a{
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        img{
            width: 186px !important;
            height: 84px !important;
        }
      }

    .footer__bottom-copyright{
        margin-top: 3rem;
    }
}


.mainPromociones{
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    background-image: url("../images/promociones_1.jpg");
    background-size: cover;
    min-height: 680px;
    position: relative;
  }

  .promociones-container .media-icons{
    z-index: 999;
    position: fixed;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    top: 70%;
}

.promociones-container .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.promociones-container .media-icons a:hover{
    transition: scale(1.3);
}

  
  .mainPromociones h1{
    font-family: glacial-indifference;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 64px;
    line-height: 75px;
    text-shadow: 0px 4px 30px #000000;
  }
  
.promociones__button{
    border: 1px solid #F3EFEE;
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    padding: 6px 12px;
    position: absolute;   
    background-color: #F3EFEE;  
    font-family: Glacial Indifference;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    top: 57%;
    color: $secondary-color;
    text-decoration: none;
    &:hover{
        border:  $secondary-color;
        background: $secondary-color;
        color: #F3EFEE;
        transition: 0.3s ease all;
    }
}
  
  #icons{
    position: fixed;
    right: 72px; 
    top: 520px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  #icons a {
    margin: 10px;
  }
  
  #corporativoContenedor{
    margin-top: 105px;
    width: 100%;
    height: 904px;
    background-image: url("../images/gifCorporativo.gif");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .corporativo-container .media-icons{
    z-index: 999;
    position: fixed;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    top: 70%;
}

.corporativo-container  .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.corporativo-container .media-icons a:hover{
    transition: scale(1.3);
}

  
  #corporativoContenedor h1{
    font-family: glacial-indifference;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    text-shadow: 0px 4px 30px #000000;
  }
  
 

  .corporativo__button{
    border: 1px solid #F3EFEE;
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    padding: 6px 12px;
    position: absolute;   
    background-color: #F3EFEE;  
    font-family: Glacial Indifference;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    top: 87%;
    color: $secondary-color;
    text-decoration: none;
    &:hover{
        border:  $secondary-color;
        background: $secondary-color;
        color: #F3EFEE;
        transition: 0.3s ease all;
    }
}

   
  #mainContacto{
    margin-top: 105px;
  }  

/* SECTION TUTORIAL PEDIDOS */
.tutorial-pedidos-container{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tutorial-pedidos__title{
    color: $base-color;
    font-family: Glacial Indifference;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 70px;
}

.card {
    border: none;
}

.tutorial-pedidos__card-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.tutorial-pedidos__card{
    width: 400px;
    height: 300px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    
     p{
        font-family: Glacial Indifference;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 25px;
        text-align: center;
        color: $secondary-color;
     }
}

.tutorial-pedidos__card{
    border: none !important;
}

 .tutorial-pedidos__card-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        h5{
            color: $secondary-color;
            font-family: Glacial Indifference;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            margin-right: 7rem;
            margin-bottom: 3rem;
        }
 }

.tutorial-pedidos__img1{
    position: absolute;
    width: 106.71px;
    height: 81.3px;
}

.tutorial-pedidos__img2{
    position: absolute;
    width: 81.3px;
    height: 81.3px;
}

.tutorial-pedidos__img3{
    position: absolute;
    width: 79.15px;
    height: 81.3px;
}

.tutorial-pedidos__img4{
    position: absolute;
    width: 96.79px;
    height: 67.75px;
}

.tutorial-pedidos__img5{
    position: absolute;
    width: 102.36px;
    height: 67.75px;
}

/* TÉRMINOS Y CONDICIONES SECTION */
.terminosYcondiciones-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10rem 2rem 2rem 2rem;
}

.terminosYcondiciones__title{
    h1{
        color: $base-color;
        font-family: Glacial Indifference;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 50px;
        display: flex;
        align-items: center;
        margin-right: 3rem;
        text-align: right;
        text-transform: uppercase;
    }
}

.terminosYcondiciones__text{
    align-items: center;
    h6{
        color: $secondary-color;
        font-family: Glacial Indifference;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
    }
    p{
        color: $secondary-color;
        font-family: Glacial Indifference;
        font-style: normal;
    }
    ul{
        color: $secondary-color;
        font-family: Glacial Indifference;
        font-style: normal;
    }
}

@media screen and (max-width: 768px){
    .terminosYcondiciones-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .terminosYcondiciones__title{
        h1{
            display: flex;
            align-items: center;
            text-align: center;
            margin-bottom: 2rem;
        }
    }
}