@font-face {
  font-family: glacial-indifference;
  src: url("../fonts/glacial-indifference.bold.otf"), url("../fonts/glacial-indifference.regular.otf");
}

@font-face {
  font-family: HomemadeApple-Regular;
  src: url("../fonts/HomemadeApple-Regular.ttf");
}

/* VARIABLES */
.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ml-2 {
  margin-left: 2rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

/* BASE */
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.no-gutters {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  font-family: glacial-indifference;
  color: #545454;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px #54545481;
          box-shadow: 0px 1px 3px #54545481;
}

/* LAYOUT */
.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

/* NAVBAR */
.nav {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  z-index: 8888;
}

.nav__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 36px;
  border-radius: 4px;
  background-color: #FF5757;
  color: #FFFFFF;
  padding: 6px 12px 6px 12px;
  font-family: glacial-indifference;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.nav__button:hover {
  background-color: #FFFFFF;
  color: #FF5757;
  border: 0.7px solid #FF5757;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 3rem;
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: #FF5757;
    color: #545454;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  position: relative;
  color: #fff;
}

.nav__link:hover {
  position: relative;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
  color: #545454;
}

.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.1rem;
  left: 0;
  top: 1.2rem;
  background-color: #545454;
}

.nav__toggle {
  color: #545454;
  font-size: 1.5rem;
  cursor: pointer;
}

/* ACTIVE MENU */
.nav__active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.1rem;
  left: 0;
  top: 1.2rem;
  background-color: #545454;
}

/* SHOW MENU */
.show {
  right: 0;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .nav-header {
    height: calc( 3rem + 1rem);
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: 3rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: #545454;
  }
}

@media screen and (max-width: 999px) {
  .nav__logo {
    width: 150px;
    height: 55px;
  }
  .nav__button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav__logo {
    width: 150px;
    height: 55px;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .nav__toggle i {
    font-size: 2.5rem;
  }
  .nav__button {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .nav__button {
    display: none;
  }
  .nav__logo {
    width: 150px;
    height: 55px;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .nav__toggle i {
    font-size: 2.5rem;
  }
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-item .img-fluid {
  width: 100%;
  height: 100vh;
}

.carousel-caption {
  bottom: 100px;
}

.carousel-caption h5 {
  font-family: Glacial Indifference;
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  color: #FFFFFF;
  text-shadow: -4px 3px 0 #FF5757;
}

.carousel__button {
  text-align: center;
  border: none;
  color: #545454;
  font-family: Glacial Indifference;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  padding: 3px 12px 3px 12px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-top: 5rem;
}

.carousel__button:hover {
  background: #545454;
  color: #FFFFFF;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f545454' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f545454' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-container .media-icons {
  z-index: 999;
  position: fixed;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  top: 39%;
}

.media-icons i {
  color: #FFFFFF;
  font-size: 1.8rem;
  background-color: #FF5757;
  border-radius: 50%;
  border: none;
  padding: 18px;
}

.media-icons i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.carousel-container .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

.carousel-container .media-icons a:hover {
  -webkit-transition: scale(1.3);
  transition: scale(1.3);
}

@media screen and (max-width: 900px) {
  .carousel-container {
    margin-top: 15%;
  }
  .carousel__nosotros-title {
    font-size: 45px !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -40% !important;
    left: -18% !important;
  }
}

@media screen and (max-width: 576px) {
  .carousel-container {
    margin-top: 20%;
  }
  .carousel__nosotros-title {
    font-size: 25px !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -25% !important;
    left: -18% !important;
  }
}

@media screen and (max-width: 468px) {
  .carousel-container {
    margin-top: 27%;
  }
  .carousel__nosotros-title {
    font-size: 19px !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -20% !important;
    left: -18% !important;
  }
}

.carousel__nosotros-title {
  font-family: Glacial Indifference;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: -40%;
  left: -15%;
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.card__home-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__home {
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__home-img {
  background-color: rgba(0, 0, 0, 0.835);
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  width: 400px;
  height: 600px;
}

.card__home-title {
  position: absolute;
  text-transform: uppercase;
  font-family: Glacial Indifference;
  font-weight: bold;
  font-size: 36px;
  line-height: 75px;
  color: #FFFFFF;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .card__home-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card__nosotros-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__nosotros-img1 {
  border: none;
  width: 313px;
  height: 486px;
  margin-right: 2rem;
}

.card__nosotros-img2 {
  border: none;
  width: 313px;
  height: 486px;
  margin-top: 7rem;
}

.card__productos-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__productos {
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.card__productos-img {
  width: 330px;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0.5rem;
}

.card__productos-img:hover {
  background-color: rgba(0, 0, 0, 0.835);
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.card__productos-button {
  font-family: Glacial Indifference;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  border: none;
  color: #545454;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 12px;
  background: #F3EFEE;
  border-radius: 4px;
  position: absolute;
  top: 85%;
  display: none;
  z-index: 2;
}

.card__productos-button:hover {
  background: #545454;
  color: #F3EFEE;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.card__productos:hover .card__productos-button {
  display: block;
}

.card__productos-title {
  position: absolute;
  text-transform: uppercase;
  font-family: Glacial Indifference;
  font-weight: bold;
  font-size: 36px;
  line-height: 75px;
  color: #FFFFFF;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  z-index: 1;
  margin-top: 6rem !important;
}

.nosotros__info {
  margin-left: 7rem;
}

.nosotros__info p {
  color: #545454;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
}

.nosotros-container {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nosotros__info-title {
  color: #FF5757;
  font-family: glacial-indifference;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

@media screen and (max-width: 900px) {
  .nosotros-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nosotros__info {
    margin: 16px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .card__nosotros-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card__nosotros-img1 {
    margin-right: 0px !important;
  }
  .card__nosotros-img2 {
    margin-top: 0px !important;
  }
}

.productos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 7rem !important;
}

.productos__title h1 {
  font-family: Glacial Indifference;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  color: #FF5757;
  margin-top: 8% !important;
  margin-right: 2rem;
}

.productos-container .media-icons {
  z-index: 999;
  position: fixed;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  top: 39%;
}

.productos-container .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

.productos-container .media-icons a:hover {
  -webkit-transition: scale(1.3);
  transition: scale(1.3);
}

@media screen and (max-width: 768px) {
  .productos-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin: 0 auto !important;
  }
  .card__productos-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-container {
  margin-top: 2rem;
}

.footer__top {
  border-top: 3px solid #FF5757;
  background-color: #FFFFFF;
  padding: 2rem 3rem 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top p {
  color: #545454;
  line-height: 21px;
}

.footer__top-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__top-cart img {
  margin-right: 1rem;
}

.footer__top-orders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__top-orders img {
  margin-right: 1rem;
}

.footer__top-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top-social-icons i {
  display: inline-block;
  border-radius: 10px;
  background-color: #545454;
  color: #FFFFFF;
  font-size: 1.8rem;
  border: none;
  padding: 18px;
  margin: 3px 5px 3px 3px;
}

.footer__top-social-icons span {
  display: inline-block;
  border-radius: 10px;
  background-color: #545454;
  color: #FFFFFF;
  font-size: 1.8rem;
  border: none;
  padding: 18px;
  margin-left: 3px;
}

.fab.fa-tiktok {
  background: url("../images/tiktok.svg") no-repeat;
  width: 22px;
  height: 25px;
}

.footer__bottom {
  background-color: #FF5757;
  padding: 2rem 5rem 1rem 5rem;
}

.footer__bottom-links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 14px;
}

.footer__bottom-links a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: glacial-indifference;
}

.footer__bottom-links i {
  color: #FFFFFF;
  font-size: 1.5rem;
}

.footer__bottom-links-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom-copyright p {
  text-align: center;
  color: #FFFFFF;
  font-family: glacial-indifference;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .footer__top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__top-orders {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__top-orders img {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .footer__top-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3rem;
  }
  .footer__top-cart img {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .footer__bottom-links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__bottom-links a {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .footer__bottom-copyright {
    margin-top: 3rem;
  }
}
/*# sourceMappingURL=styles.css.map */