/* VARIABLES */
$base-color: #FF5757;
$secondary-color: #545454;

.mt-5{
    margin-top: 5rem;
}

.mb-5{
    margin-bottom: 5rem;
}

.ml-1{
    margin-left: 1rem !important;
}

.mr-1{
    margin-right: 1rem !important;
}

.ml-2 {
    margin-left: 2rem !important;
}

.mr-2 {
    margin-right: 2rem !important;
}

.mt-3{
    margin-top: 3rem !important;
}

 

Resources
/* BASE */
*,::before,::after{
    box-sizing: border-box;
}

.no-gutters{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

.nav__list{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
   text-decoration: none;
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px #54545481;
}

/* LAYOUT */
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

/* NAVBAR */
.nav{
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    z-index: 8888;
}

.nav__logo{
     width: 189px;
     height: 75px;
}

.nav__button{
    align-items: center;
    width: 144px;
    height: 32.4px;
    border-radius: 4px;
    background-color: $base-color;
    color: #FFFFFF;
    padding: 5px 10px;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin: 0px 4px;
    &:hover{
        background-color: #FFFFFF;
        color: $base-color;
        border: 0.7px solid $base-color;
        transition: 0.3s ease all;
    }
}


@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: 3rem;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: $base-color;
        color: $secondary-color;
        transition: .5s;
    }
    .nav{
        position: relative;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        padding-bottom: 2.5rem;
    }
}

.nav__item{
margin-bottom: 2rem;
}

.nav__link{
    position: relative;
    color: #fff;
    font-family: 'Glacial Indifference', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    &:hover{
        position: relative;
    transition: .2s ease all;
    color: $secondary-color;
    }
}

.nav__link:hover::after{
position: absolute;
content: "";
width: 100%;
height: 0.01rem;
left: 0;
top: 1rem;
background-color: $secondary-color;
}

.nav__toggle{
    color: $secondary-color;
    font-size: 1.5rem;
    cursor: pointer;
}

/* ACTIVE MENU */
 .nav__active::after{
     position: absolute;
     content: "";
     width: 100%;
     height: 0.01rem;
     left: 0;
     top: 1rem;
     background-color: $secondary-color;
   }

/* SHOW MENU */
.show{
     right: 0; 
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 800px){
    body{
      margin: 0;
    }
    .section{
      padding-top: 4rem;
      padding-bottom: 3rem;
    }
    .nav-header{
      height: calc( 3rem + 1rem);
    }
    .nav__list{
      display: flex;
      padding-top: 0;
    }
    .nav__item{
      margin-left: 3rem;
      margin-bottom: 0;
    }
    .nav__toggle{
      display: none;
    }
    .nav__link{
      color: $secondary-color;
    }
  }  


  @media screen and (max-width: 800px){
    .nav__logo{
        width: 150px;
        height: 55px;
    }

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .nav__toggle i{
        font-size: 2.5rem;
    }

    .nav__button{
        display: block;
    }
  }

  @media screen and (max-width: 576px){
    .nav__button{
        display: none;
    }

    .nav__logo{
        width: 150px;
        height: 55px;
    }

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .nav__toggle i{
        font-size: 2.5rem;
    }
  }

//CARROUSEL HOME
.carousel-container{
    margin-top: 8%;
}

.carousel-inner{
    img{
        width: 100%;
        height: 100%;
    }
}
.carousel .item {
    height: 100px !important;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100px;
  }

.carousel-item .img-fluid {
    width:100%;
    height: 100vh;
  }

  .carousel__home-caption{
    bottom: 200px;
}


.carousel-caption h5{
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 57px;
    font-weight: 700;
    line-height: 75px;
    color: #FFFFFF;
    text-shadow: 0px 4px 30px #000000;   
}

.carousel__button-home{
    text-align: center;
    border: none;
    color: $secondary-color;
    font-family: 'Glacial Indifference', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    padding: 6px 12px;
    background: #FFFFFF;
    border-radius: 4px;
    &:hover{
        background: $secondary-color;
        color: #FFFFFF;
        transition: 0.3s ease all;
    }
}

.carousel-control-prev-icon {
    background-image: url("../images/control-prev-icon.svg");
    margin-left: -7rem !important;
}

.carousel-control-next-icon {
    background-image: url("../images/control-next-icon.svg");
    margin-right: -7rem !important;
}

@media screen and (max-width: 900px){
    .carousel-control-prev-icon {
        background-image: url("../images/control-prev-icon.svg");
        margin-left: 1rem !important;
        width: 30px;
        height: 30px;
    }
    
    .carousel-control-next-icon {
        background-image: url("../images/control-next-icon.svg");
        margin-right: 1rem !important;
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 768px){
    .carousel-control-prev-icon {
        background-image: url("../images/control-prev-icon.svg");
        margin-left: -1rem !important;
        width: 20px;
        height: 20px;
    }
    
    .carousel-control-next-icon {
        background-image: url("../images/control-next-icon.svg");
        margin-right: -1rem !important;
        width: 20px;
        height: 20px;
    }

    .carousel__home-caption{
        h5{
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
        }
    }
}

.carousel-indicators li {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50% !important;
  }

  .carousel-indicators .active{
    background-color: $base-color;
}


/* MEDIA ICONS */
.fixed-1{
    position: fixed !important;
}

.media__icons-footer-1{
    top: 30% !important;
}

.fixed-2{
    position: fixed !important;
}

.media__icons-footer-2{
    top: 30% !important;
}

.media-icons{
    z-index: 999;
    position: fixed;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    top: 75%;
}

.media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.media-icons a:hover{
    transition: scale(1.3);
}
  
.media-icons i{
    color: #FFFFFF;
    font-size: 1.7rem;
    background-color: $base-color;
    border-radius: 50%;
    border: none;
    padding: 14px;
    &:hover{
        transform: scale(1.1);
        transition: 0.3s ease all;
    }
  }


  @media screen and (max-width: 900px){
    .carousel-container{
        margin-top: 15%;
    }
   .carousel__nosotros-title{
        font-size: 40px !important;
        align-items: center;
        margin-top: -80% !important;
        left: -18% !important;
        line-height: 40px !important;
    }
    .carousel__home-caption{
        bottom: 100px;
   }
}


@media screen and (max-width: 768px){
    .carousel-container{
        margin-top: 10%;
    }
    
}

@media screen and (max-width: 576px){
    .carousel-container{
        margin-top: 20%;
    }
    .carousel__nosotros-title{
        margin-top: -80% !important;
        font-size: 20px !important;
        align-items: center;
        margin-top: 3% !important;
        left: -18% !important;
        line-height: 15px !important;
    }
}

@media screen and (max-width: 468px){
    .carousel-container{
        margin-top: 27%;
    }
    .carousel__nosotros-title{
        font-size: 20px !important;
        align-items: center;
        margin-top: -50% !important;
        left: -18% !important;
        line-height: 10px !important;
    }
}

 @media screen and (max-width: 411px){
     .carousel-container{
         margin-top: 20%;
     }
 }

//CAROUSEL NOSOTROS
.carousel__nosotros-title{
    margin-top: -45%;
    left: -15%;
    position: absolute;
    font-style: normal;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 57.6px;
    line-height: 67.5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
}

.carousel__nosotros-caption{
    top: 25rem !important;
}


//CARDS

    //CARDS HOME
    .card__home-container{
        align-items: center;  
        margin-top: 3rem;  
        display: flex;
        justify-content: space-evenly;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .card__home{
        border: none;
        align-items: center;
       
    }
    .card__home-img{
        width: 360px !important; //Se redujo un 10% respecto al tamaño original
        height: 450px !important; //Se redujo un 10% respecto al tamaño original
        object-fit: cover;
        margin: 0.5rem;
        &:hover{
           background-color: rgba(0, 0, 0, 0.835);
           filter:brightness(0.7);
           transition: 0.3s all;
        }
    }

    .card__home-title{
        position: absolute;
        text-transform: uppercase;
        font-family: 'Glacial Indifference', sans-serif;
        font-weight: 700;
        font-size: 33px; //Se redujo un 10% respecto al tamaño original
        line-height: 67.5px; //Se redujo un 10% respecto al tamaño original
        color: #FFFFFF;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        z-index: 3;
        cursor: pointer;
    }

    @media screen and (max-width: 1200px){
        .card__home-img{
            width: 300px !important;
            height: 400px !important;
            object-fit: cover;
            margin: 0.5rem;
            &:hover{
               background-color: rgba(0, 0, 0, 0.835);
               filter:brightness(0.7);
               transition: 0.3s all;
            }
        }
    
        .card__home-title{
            position: absolute;
            text-transform: uppercase;
            font-family: 'Glacial Indifference', sans-serif;
            font-weight: 700;
            font-size: 28px;
            line-height: 75px;
            color: #FFFFFF;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            z-index: 3;
            cursor: pointer;
        }

    }

   
    @media screen and (max-width: 768px){
         .card__home-container{
             display: flex;
             flex-direction: column;
             justify-content: center;
         }
         .card__home-img{
            width: 400px !important;
            height: 500px !important;
            object-fit: cover;
            margin: 0.5rem;
            &:hover{
               background-color: rgba(0, 0, 0, 0.835);
               filter:brightness(0.7);
               transition: 0.3s all;
            }
        }
        .card__home-title{
            position: absolute;
            text-transform: uppercase;
            font-family: 'Glacial Indifference', sans-serif;
            font-weight: 700;
            font-size: 30px;
            line-height: 75px;
            color: #FFFFFF;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            z-index: 3;
            cursor: pointer;
        }
    }

    //CARDS NOSOTROS
    .card__nosotros-container{
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .card__nosotros-img1{
        border: none;
        width: 313px;
        height: 486px;
        margin-right: 2rem;
    }

    .card__nosotros-img2{
        border: none;
        width: 313px;
        height: 486px;
        margin-top: 7rem;
    }

    //CARDS PRODUCTOS
    .card__productos-container{
        align-items: center;   
        display: flex;
        justify-content: center;
        }

        .card__productos{
            border: none;
            align-items: center;
            position:relative;
        }

        .card__productos-img{
            width: 297px !important; //Se redujo un 10% respecto al tamaño del proto
            height: 520px !important; //Se redujo un 10% respecto al tamaño del proto
            object-fit: cover;
            margin: 0.5rem;
            &:hover{
               background-color: rgba(0, 0, 0, 0.835);
               filter:brightness(0.7);
               transition: 0.3s all;
            }
        }

        .card__productos-title{
            position: absolute;
            text-transform: uppercase;
            font-family: 'Glacial Indifference', sans-serif;
            font-weight: 700;
            font-size: 32px;
            line-height: 67.5px;
            color: #FFFFFF;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            z-index: 1;
            margin-top: 6rem !important;
            cursor: pointer;
        }

            
        .card__productos-button{
            font-family: 'Glacial Indifference', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            border: none;
            color: $secondary-color;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 6px 12px;
            background: #F3EFEE;
            border-radius: 4px;
            position: absolute;
            top: 85%;
            display: none;
            z-index: 2;
            &:hover{
                background: $secondary-color;
                color: #F3EFEE;
                transition: 0.3s ease all;
            }
        }

        .card__productos:hover .card__productos-button{
            display:block;
        }

    @media screen and (max-width: 1200px){
        .card__productos-img{
            width: 250px !important;
            height: 500px !important;
            object-fit: cover;
            margin: 0.5rem;
            &:hover{
               background-color: rgba(0, 0, 0, 0.835);
               filter:brightness(0.7);
               transition: 0.3s all;
            }
        }
        .card__productos-title{
            position: absolute;
            text-transform: uppercase;
            font-family: 'Glacial Indifference', sans-serif;
            font-weight: 700;
            font-size: 28px;
            line-height: 75px;
            color: #FFFFFF;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            z-index: 1;
            margin-top: 6rem !important;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 768px){
        .card__productos-img{
            width: 330px !important;
            height: 650px !important;
            object-fit: cover;
            margin: 0.5rem;
            &:hover{
               background-color: rgba(0, 0, 0, 0.835);
               filter:brightness(0.7);
               transition: 0.3s all;
            }
        }
        .card__productos-title{
            position: absolute;
            text-transform: uppercase;
            font-family: 'Glacial Indifference', sans-serif;
            font-weight: 700;
            font-size: 28px;
            line-height: 75px;
            color: #FFFFFF;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            z-index: 1;
            margin-top: 6rem !important;
            cursor: pointer;
        }
    }

        

//SECCION NOSOTROS
.nosotros__info{
    margin-left: 5rem;
    margin-right: 2rem;
    p{
        color: $secondary-color;
        font-family: 'Glacial Indifference', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 1px;
    }
}
.nosotros-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.nosotros__info-title{
    color: $base-color;
    font-family: 'Glacial Indifference', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

@media screen and (max-width: 900px){
    .nosotros-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .nosotros__info{
        margin: 16px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .card__nosotros-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card__nosotros-img1{
        margin-right: 0px !important;
    }

    .card__nosotros-img2{
        margin-top: 0px !important;
    }
}

//SECCION PRODUCTOS
.productos-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 7rem !important;
}

.productos__title{
    h1{
        font-family: 'Glacial Indifference', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        color: $base-color;
        margin-top: 8% !important;
        margin-right: 3rem;
        margin-left: 3rem;
    }
}

@media screen and (max-width: 768px){
    .productos-container {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;       
    }
    .card__productos-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .productos__title{
        h1{
            font-family: 'Glacial Indifference', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 50px;
            color: $base-color;
            margin-top: 8% !important;
           margin-right: 0px !important;
           margin-left: 0px !important;
        }
    }
}



//FOOTER
.footer-container{
    margin-top: 2rem;
}

.footer__top{
    border-top: 3px solid $base-color;
    background-color: #FFFFFF;
    padding: 2rem 3rem 2rem 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}

.footer__top-cart{
    display: flex;
    align-items: flex-start;
    img{
        margin-right: 1rem;
    }
    p{
        color: $secondary-color;
        line-height: 21px;
        font-family: 'Glacial Indifference', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
    }
}

.footer__top-orders{
    display: flex;
    align-items: flex-start;
    img{
        margin-right: 1rem;
        width: 47.5px;
        height: 65px;
    }
    p{
        color: $secondary-color;
        line-height: 21px;
        font-family: 'Glacial Indifference', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
    }
}

.footer__top-social-icons {
    display: flex;
    align-items: center;
    i{
        display: inline-block;
        border-radius: 10px;
        background-color: $secondary-color;
        color: #FFFFFF;
        font-size: 1.7rem;
        border: none;
        padding: 12px;
        margin: 3px 5px 3px 3px;
    }
}

.footer__top-social-icons {
    span{
        display: inline-block;
        border-radius: 10px;
        background-color: $secondary-color;
        color: #FFFFFF;
        font-size: 2.5rem;
        border: none;
        padding: 5px;
        margin-left: 3px;
    }
}

.fab.fa-tiktok {
    background: url('../images/tiktok.svg') no-repeat;
    width: 22px;
    height: 25px;
    
}

.footer__bottom{
    background-color: $base-color;
    padding-top: 1.3rem;
    padding-bottom: 0.1rem;
    img{
        width: 151.4px !important; //Se achicó un 20% respecto al tamaño original del proto
        height: 68px !important; //Se achicó un 20% respecto al tamaño original del proto
    }
}

.footer__bottom-links{
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    
    a{
        text-decoration: none;
        color: #FFFFFF;
        font-family: 'Glacial Indifference', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 30px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    i{
        color: #FFFFFF;
        font-size: 1.5rem;
        font-weight: normal;
    }
}



.footer__bottom-links-social{
    display: flex;
    align-items: center;
    i{
        margin-right: 0.3rem !important;
    }
}

.footer__bottom-copyright{
    p{
        text-align: center;
        color: #FFFFFF;
        font-family: 'Glacial Indifference', sans-serif;
        font-size: 16px;
        line-height: 30px;
        font-style: normal;
        font-weight: 700;
    }
}


@media screen and (max-width: 975px){
    .footer__bottom{
        display: flex;
        flex-direction: column;
        
    }
}

@media screen and (max-width: 800px){
    .footer__top{
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .footer__top-orders{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }
    }
    .footer__top-cart{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        img{
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            width: 77.29px;
            height: 65px;
        }
   
    }

    .footer__bottom-links{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        a{
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        img{
            width: 186px !important;
            height: 84px !important;
        }
      }

    .footer__bottom-copyright{
        margin-top: 3rem;
    }
}


.mainPromociones{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    background-image: url("../images/promociones_1.jpg");
    margin-top: 0px;
    padding-top: 60px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  
  .mainPromociones {
    h1{
        font-family: 'Glacial Indifference', sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #FFFFFF;
        font-size: 57px;
        line-height: 67px;
        text-shadow: 0px 4px 30px #000000;
        position: absolute;
    }
  }
  
.promociones__button{
    border: 1px solid #F3EFEE;
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    padding: 6px 12px;
    position: absolute;   
    background-color: #F3EFEE;  
    font-family: 'Glacial Indifference', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    margin-top: 2rem;
    top: 57%;
    color: $secondary-color;
    text-decoration: none;
    &:hover{
        border:  $secondary-color;
        background: $secondary-color;
        color: #F3EFEE;
        transition: 0.3s ease all;
    }
}

@media screen and (max-width: 768px){
    .mainPromociones {
        h1{
            font-size: 40px;
            line-height: 30px;
        }
    }
}
  
  #icons{
    position: fixed;
    right: 72px; 
    top: 520px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  #icons a {
    margin: 10px;
  }
  
  .corporativo-container{
    margin-top: 7rem !important;
    background-image: url("../images/gifCorporativo.gif");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0px;
    padding-top: 60px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    h1{
        font-family: 'Glacial Indifference', sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #FFFFFF;
        font-size: 64px;
        line-height: 75px;
        text-shadow: 0px 4px 30px #000000;
        position: absolute;
        margin-bottom: 2rem;
    }
  }

  .corporativo__button{
    border: 1px solid #F3EFEE;
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    padding: 6px 12px;
    position: absolute;   
    background-color: #F3EFEE;  
    font-family: 'Glacial Indifference', sans-serif !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 24px;
    line-height: 24px;
    margin-top: 4rem;
    color: $secondary-color;
    text-decoration: none;
    &:hover{
        border:  $secondary-color;
        background: $secondary-color;
        color: #F3EFEE;
        transition: 0.3s ease all;
    }
}

@media screen and (max-width: 768px){
    .corporativo-container {
        margin-top: -2rem !important;
        h1{
            font-size: 35px;
            line-height: 35px;
            margin-bottom: 1rem !important;
        }
    }
}

.corporativo__text-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

  .corporativo__title {
        font-family: 'Glacial Indifference', sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 75px;
        color: #FFFFFF;
        text-shadow: 0px 4px 30px #000000;   
}
   
  .corporativo__button{
    border: 1px solid #F3EFEE;
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    padding: 6px 12px;
    position: absolute;   
    background-color: #F3EFEE;  
    font-family: 'Glacial Indifference', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    top: 50%;
    color: $secondary-color;
    text-decoration: none;
    &:hover{
        border:  $secondary-color;
        background: $secondary-color;
        color: #F3EFEE;
        transition: 0.3s ease all;
    }
}

   
  #mainContacto{
    margin-top: 105px;
  }  

/* SECTION TUTORIAL PEDIDOS */
.tutorial-pedidos-container{
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tutorial-pedidos__cards{
    margin-top: -5rem;
}

.tutorial-pedidos__title{
    color: $base-color;
    font-family: 'Glacial Indifference', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 51.3px;
    line-height: 56.7px;
}

.card {
    border: none;
}

.tutorial-pedidos__cards__top-container{
    align-content: center;
    display: flex;
    justify-content: center;
    margin-top: -1rem !important;
}

.tutorial-pedidos__cards__bottom-container{
    align-content: center;
    display: flex;
    justify-content: center;
    margin-top: -5rem;
}

.tutorial-pedidos__card{
    width: 400px;
    height: 300px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    margin: 2rem -2rem -2rem -2rem;
     p{
        font-family: 'Glacial Indifference', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22.5px;
        text-align: center;
        color: $secondary-color;
     }
}

.tutorial-pedidos__card{
    border: none !important;
}

 .tutorial-pedidos__card-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        h5{
            color: $secondary-color;
            font-family: 'Glacial Indifference', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 21px;
            line-height: 45px;
            margin-right: 8rem;
            margin-bottom: 3rem;
        }
 }

.tutorial-pedidos__img1{
    position: absolute;
    width: 96px;
    height: 73px;
}

.tutorial-pedidos__img2{
    position: absolute;
    width: 73.17px;
    height: 73.17px;
}

.tutorial-pedidos__img3{
    position: absolute;
    width: 71.235px;
    height: 73.17px;
}

.tutorial-pedidos__img4{
    position: absolute;
    width: 87.12px;
    height: 61px;
}

.tutorial-pedidos__img5{
    position: absolute;
    width: 92.12px;
    height: 61px;
}

@media screen and (max-width: 768px){
    .tutorial-pedidos__cards__bottom-container{
        margin-top: -2rem;
    }
    .tutorial-pedidos__card{
        margin-top: 1rem !important;
    }
    .tutorial-pedidos__title{
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 2rem;
    }
}

/* TÉRMINOS Y CONDICIONES SECTION */
.terminosYcondiciones-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10rem 2rem 2rem 2rem;
}

.terminosYcondiciones__title{
    h1{
        color: $base-color;
        font-family: 'Glacial Indifference', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        display: flex;
        align-items: center;
        margin-right: 3rem;
        text-align: right;
        text-transform: uppercase;
    }
}

.terminosYcondiciones__text{
    align-items: center;
    h6{
        color: $secondary-color;
        font-family: 'Glacial Indifference', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 25px;
    }
    p{
        color: $secondary-color;
        font-family: 'Glacial Indifference', sans-serif;
        font-style: normal;
    }
    ul{
        color: $secondary-color;
        font-family: 'Glacial Indifference', sans-serif;
        font-style: normal;
    }
}

@media screen and (max-width: 768px){
    .terminosYcondiciones-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .terminosYcondiciones__title{
        h1{
            display: flex;
            align-items: center;
            text-align: center;
            margin-bottom: 2rem;
            font-size: 30px;
            line-height: 35px;
        }
    }
}

/* CONTACTO */
#contenedorContacto{
    margin-top: 12rem;
    margin-bottom: 174px;
    width: 100%;
    max-width: 1026px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  
  #contenedorContacto h1{
    color: #FF5757;
    font-family: 'Glacial Indifference', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;  
    display: flex;
    align-items: center;   
    margin-bottom: 0;  
  }
  
  #contenedorContacto__form{
    width: 100%;
    max-width: 505px;
  }
  
  #contenedorContacto__form input{
    margin-top: 7px;
    width: 100%;
    max-width: 505px;
    height: 40px;
    border: 2px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  #contenedorContacto__form select{
    margin-top: 7px;
    color: $secondary-color;
    width: 100%;
    max-width: 505px;
    height: 40px;
    border: 2px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  #contenedorContacto__form textarea{
    margin-top: 7px;
    width: 100%;
    max-width: 505px;
    height: 122px;
    background: #FFFFFF;
    color: $secondary-color;
    border: 2px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  #inputEnviar {
    color: #FFFFFF;
    width: 160px !important;
    margin-top: 8px !important;
    height: 30px;
    background: $base-color;
    border-radius: 4px;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 345px;
    border: none !important;
  }
  
  #contenedorContacto__p{
    color: $secondary-color;
    width: 100%;
    max-width: 407px;  
    font-family: 'Glacial Indifference', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    text-align: justify;
    align-items: center; 
    margin-top: 17px; 
  }
  
  #contenedorContacto__p p{
    margin-bottom: 27px;
  }
  
  #contenedorContacto__buttons {
    display: flex;
    justify-content: space-evenly;
  }
  
  #contenedorContacto__buttons button{
    align-items: center;
    color: $secondary-color;
    display: flex;
    justify-content: center;
    width: 158px;
    max-width: 158px;
    height: 36px;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: bold;
    margin-bottom: 9px;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 2px solid $secondary-color;
    box-sizing: border-box;
    border-radius: 4.8px;
  }
  #contenedorContacto__buttons i {
    color: $secondary-color;
    font-weight: bold;
    font-size: large;
    margin-right: 0.3rem;
  }
  
  #contenedorContacto__buttons--email button{
    align-items: center;
    color: $secondary-color;
    display: flex;
    justify-content: center;
    color: $secondary-color;
    width: 224px;
    max-width: 224px;
    height: 36px;
    margin: auto;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: bold;
    background: #FFFFFF;
    border: 2px solid $secondary-color;
    box-sizing: border-box;
    border-radius: 4.8px;
  }
  #contenedorContacto__buttons--email button i{
    color: $secondary-color;
    font-weight: bold;
    font-size: large;
  }  

  @media screen and (max-width: 768px){
      #contenedorContacto{
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
      }

      .contacto__info-container{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        justify-content: center;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
      }

     form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
      }

      #inputEnviar {
        left: 0px !important;
        height: 30px !important;
      }
  }



  